<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/Contact.css">
</head>
<body>
    <div class="main">

        <div class="rapper">
            <h2 class="title">Contact Us Form</h2>
            <form action="#">
                <input class="item" type="text" placeholder="First Name">
                <div class="same">
                    <input class="item" type="text" placeholder="Email Address">
                    <input class="item" type="text" placeholder="Website Name">
                </div>
                <input class="item" type="text" placeholder="Write your message">
            </form>
        </div>
        <button class="btn">Submit</button>
    </div>
    

</body>
</html>