{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Text Input Display</title>
    <link rel="stylesheet" href=" {% static 'styles.css' %}">
</head>
<body>
    <h1>Enter your text:</h1>
    
    <form method="POST">
        {% csrf_token %}
        <textarea name="text_input" rows="5" cols="30"></textarea><br>
    
        <br>
        <br>
    
        <!-- Radio button for HTML icon selection -->
        <input type="radio" id="html_icon" name="fav_language" value="HTML">
        <label for="html_icon"><img src="https://skillicons.dev/icons?i=devto" height="46" alt="devto logo"></label>
        <br>
    
        <input id="btn" type="submit" value="Submit">
    </form>
    
    <!-- Checking form inputs after submission -->
    {% if text_input %}
        <h2>Your entered text:</h2>
        <p>&lt; h1 &gt; {{ text_input }} &lt; &#47; h1 &gt;</p>
        {% endif %}

        
    
</body>
</html>