{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Input Display</title>
    <link rel="stylesheet" href=" {% static 'styles.css' %} ">
</head>
<body>
    
    <div class="main">

        <div class="rapper">
            <h2 class="title">Contact Us Form</h2>
            <form method="POST">
                {% csrf_token %}
                <input class="item" type="text" placeholder="First Name">
                <div class="same">
                    <input class="item" type="text" placeholder="Email Address">
                    <input class="item" type="text" placeholder="Website Name">
                </div>
                <input class="item" type="text" placeholder="Write your message">
            </form>
        </div>
        <button class="btn">Submit</button>
    </div>

    {% comment %} <form method="POST">
        {% csrf_token %}
        <textarea name="text_input" rows="5" cols="30"></textarea><br>
    
        <br>
        <br>
    
        <!-- Radio button for HTML icon selection -->
        <input type="radio" id="dev_to_icon" name="icon_1" value="dev_to">
        <label for="dev_to_icon"><img src="https://skillicons.dev/icons?i=devto" height="46" alt="devto logo"></label>
        <br>
    
        <input type="submit" value="Submit">
    </form> {% endcomment %}
    
    <!-- Checking form inputs after submission -->
    {% if text_input %}
        <h2>Your entered text:</h2>
        <p>&lt; h1 &gt; {{ text_input }} &lt; &#47; h1 &gt;</p>
        {% endif %}

        
    {% if icon_1 == "dev_to" %}
        <p>&lt; img src="https://skillicons.dev/icons?i=devto" height="46" alt="devto logo" / &gt;</p>
    {% endif %}
    
</body>
</html>