{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code Automate</title>
    <link rel="stylesheet" href=" {% static 'styles.css' %} ">
</head>
<body>
    
    <div class="main">

        <div class="rapper">
            <h2 class="title">Create Readme</h2>
            <form method="POST">
                {% csrf_token %}

                <input name="fullName" class="item" type="text" placeholder="Hii there 👋, I'm ">

                <input name="currentLearning" class="item" type="text" placeholder="🪲 I'm currently Learning ">

                <input name="askMe" class="item" type="text" placeholder="🦉 Ask Me About ">

                <input name="email" class="item" type="text" placeholder="📫 How to reach me: ">

                <input name="website" class="item" type="text" placeholder="🌏 Find my projects on ">

                <input name="articles" class="item" type="text" placeholder="📑 I write articles on ">

                <input name="experience" class="item" type="text" placeholder="🥷 Know about my experience ">

                

                {% comment %} <div class="same">
                    <input name="email" class="item" type="text" placeholder="📫 How to reach me: ">
                    <input name="website" class="item" type="text" placeholder="Website Name">
                </div> {% endcomment %}


                {% comment %} <input name="bio" class="item" type="text" placeholder="Write your message"> {% endcomment %}

                <!-- Radio button for HTML icon selection -->
                <div class="icons">
                    <h3 class="title">Skills</h3>

                    <p>Programming Languages</p>

                    <br/>
                    <input type="radio" id="c_lang" name="lang_1" value="c_lang">
                    <label for="c_lang"><img src="https://skillicons.dev/icons?i=c" height="46" alt="C Language logo"></label>

                    <input type="radio" id="cpp_lang" name="lang_2" value="cpp_lang">
                    <label for="cpp_lang"><img src="https://skillicons.dev/icons?i=cpp" height="46" alt="C++ Language logo"></label>

                    <input type="radio" id="csharp_lang" name="lang_3" value="csharp_lang">
                    <label for="csharp_lang"><img src="https://skillicons.dev/icons?i=cs" height="46" alt="C# Language logo"></label>

                    <input type="radio" id="go_lang" name="lang_4" value="go_lang">
                    <label for="go_lang"><img src="https://skillicons.dev/icons?i=go" height="46" alt="Go Language logo"></label>
                    
                    <input type="radio" id="java_lang" name="lang_5" value="java_lang">
                    <label for="java_lang"><img src="https://skillicons.dev/icons?i=java" height="46" alt="Java Language logo"></label>
                    
                    <input type="radio" id="js_lang" name="lang_6" value="js_lang">
                    <label for="js_lang"><img src="https://skillicons.dev/icons?i=js" height="46" alt="JS Language logo"></label>

                    <input type="radio" id="ts_lang" name="lang_7" value="ts_lang">
                    <label for="ts_lang"><img src="https://skillicons.dev/icons?i=ts" height="46" alt="TS Language logo"></label>

                    <input type="radio" id="ruby_lang" name="lang_8" value="ruby_lang">
                    <label for="ruby_lang"><img src="https://skillicons.dev/icons?i=ruby" height="46" alt="RUBY Language logo"></label>

                    <input type="radio" id="scala_lang" name="lang_9" value="scala_lang">
                    <label for="scala_lang"><img src="https://skillicons.dev/icons?i=scala" height="46" alt="Scala Language logo"></label>

                    <input type="radio" id="python_lang" name="lang_10" value="python_lang">
                    <label for="python_lang"><img src="https://skillicons.dev/icons?i=python" height="46" alt="Python Language logo"></label>

                    <input type="radio" id="clojure_lang" name="lang_11" value="clojure_lang">
                    <label for="clojure_lang"><img src="https://skillicons.dev/icons?i=clojure" height="46" alt="Clojure Language logo"></label>

                    <input type="radio" id="swift_lang" name="lang_12" value="swift_lang">
                    <label for="swift_lang"><img src="https://skillicons.dev/icons?i=swift" height="46" alt="Swift Language logo"></label>

                    <input type="radio" id="rust_lang" name="lang_13" value="rust_lang">
                    <label for="rust_lang"><img src="https://skillicons.dev/icons?i=rust" height="46" alt="Rust Language logo"></label>

                    <input type="radio" id="r_lang" name="lang_14" value="r_lang">
                    <label for="r_lang"><img src="https://skillicons.dev/icons?i=r" height="46" alt="R Language logo"></label>

                    <input type="radio" id="kotlin_lang" name="lang_15" value="kotlin_lang">
                    <label for="kotlin_lang"><img src="https://skillicons.dev/icons?i=kotlin" height="46" alt="Kotlin Language logo"></label>

                    <input type="radio" id="perl_lang" name="lang_16" value="perl_lang">
                    <label for="perl_lang"><img src="https://skillicons.dev/icons?i=perl" height="46" alt="Perl Language logo"></label>

                    <p>Frontend Development</p>
                    <br/>

                    <p>Backend Development</p>
                    <br/>

                    <p>Mobile App Development</p>
                    <br/>

                    <p>Artificial Intelligence - Machine Learning</p>
                    <br/>

                    <p>Database</p>
                    <br/>

                    <p>Data Visualisation</p>
                    <br/>

                    <p>DevOps</p>
                    <br/>

                    <p>Backend As Service</p>
                    <br/>

                    <p>Testing</p>
                    <br/>

                    <p>Game Engine</p>
                    <br/>

                    <p>Automation</p>
                    <br/>
                

                    <input type="radio" id="dev_to_icon" name="icon_1" value="dev_to">
                    <label for="dev_to_icon"><img src="https://skillicons.dev/icons?i=devto" height="46" alt="devto logo"></label>
                </div>
                
                
                <br>
                <input class="btn" type="submit" value="Submit">
            </form>
        </div>
        
        {% comment %} <button class="btn">Submit</button> {% endcomment %}
    </div>

    {% comment %} 
    <form method="POST">
        {% csrf_token %}
        <textarea name="text_input" rows="5" cols="30"></textarea><br>
    
        <br>
        <br>
    
        <!-- Radio button for HTML icon selection -->
        <input type="radio" id="dev_to_icon" name="icon_1" value="dev_to">
        <label for="dev_to_icon"><img src="https://skillicons.dev/icons?i=devto" height="46" alt="devto logo"></label>
        <br>
    
        <input type="submit" value="Submit">
    </form> {% endcomment %}
    
    <!-- Checking form inputs after submission -->
     <div class="output">
        {% if fullName %}
        <p>&lt; p &gt; Hii there 👋, I'm  {{ fullName }} &lt; &#47; p &gt;</p>
        {% endif %}

        {% if currentLearning %}
        <p>&lt; p &gt; 🪲 I'm currently Learning   {{ currentLearning }} &lt; &#47; p &gt;</p>
        {% endif %}

        {% if askMe %}
        <p>&lt; p &gt; 🦉 Ask Me About {{ askMe }} &lt; &#47; p &gt;</p>
        {% endif %}

        {% if email %}
        <p>&lt; p1 &gt; 📫 How to reach me: {{ email }} &lt; &#47; p1 &gt;</p>
        {% endif %}

        {% if website %}
        <p>&lt; p1 &gt; 🌏 Find my projects on {{ website }} &lt; &#47; p1 &gt;</p>
        {% endif %}

        {% if articles %}
        <p>&lt; p &gt; 📑 I write articles on {{ articles }} &lt; &#47; p &gt;</p>
        {% endif %}

        {% if experience %}
        <p>&lt; p &gt; 🥷 Know about my experience {{ experience }} &lt; &#47; p &gt;</p>
        {% endif %}

        {% comment %} PROGRAMMING LANGUAGE {% endcomment %}

        {% if lang_1 == "c_lang" %}
        <p>&lt; img src="https://skillicons.dev/icons?i=c" height="46" alt="C language logo"  &#47; &gt;</p>
        <p>&lt; img width="8" &#47; &gt; </p>
        {% endif %}

        {% if lang_2 == "cpp_lang" %}
        <p>&lt; img src="https://skillicons.dev/icons?i=cpp" height="46" alt="C++ language logo"  &#47; &gt;</p>
        <p>&lt; img width="8" &#47; &gt; </p>
        {% endif %}

        {% if lang_3 == "csharp_lang" %}
        <p>&lt; img src="https://skillicons.dev/icons?i=cs" height="46" alt="C# language logo"  &#47; &gt;</p>
        <p>&lt; img width="8" &#47; &gt; </p>
        {% endif %}

        {% if lang_4 == "go_lang" %}
        <p>&lt; img src="https://skillicons.dev/icons?i=go" height="46" alt="Go language logo"  &#47; &gt;</p>
        <p>&lt; img width="8" &#47; &gt; </p>
        {% endif %}

        {% if lang_5 == "java_lang" %}
        <p>&lt; img src="https://skillicons.dev/icons?i=java" height="46" alt="Java language logo"  &#47; &gt;</p>
        <p>&lt; img width="8" &#47; &gt; </p>
        {% endif %}

        {% if lang_6 == "js_lang" %}
        <p>&lt; img src="https://skillicons.dev/icons?i=js" height="46" alt="JS language logo"  &#47; &gt;</p>
        <p>&lt; img width="8" &#47; &gt; </p>
        {% endif %}

        {% if lang_7 == "ts_lang" %}
        <p>&lt; img src="https://skillicons.dev/icons?i=ts" height="46" alt="TS language logo"  &#47; &gt;</p>
        <p>&lt; img width="8" &#47; &gt; </p>
        {% endif %}

        {% if lang_8 == "ruby_lang" %}
        <p>&lt; img src="https://skillicons.dev/icons?i=cpp" height="46" alt="Ruby language logo"  &#47; &gt;</p>
        <p>&lt; img width="8" &#47; &gt; </p>
        {% endif %}

        {% if lang_9 == "scala_lang" %}
        <p>&lt; img src="https://skillicons.dev/icons?i=scala" height="46" alt="Scala language logo"  &#47; &gt;</p>
        <p>&lt; img width="8" &#47; &gt; </p>
        {% endif %}

        {% if lang_10 == "python_lang" %}
        <p>&lt; img src="https://skillicons.dev/icons?i=python" height="46" alt="Python language logo"  &#47; &gt;</p>
        <p>&lt; img width="8" &#47; &gt; </p>
        {% endif %}

        {% if lang_11 == "clojure_lang" %}
        <p>&lt; img src="https://skillicons.dev/icons?i=clojure" height="46" alt="Clojure language logo"  &#47; &gt;</p>
        <p>&lt; img width="8" &#47; &gt; </p>
        {% endif %}

        {% if lang_12 == "swift_lang" %}
        <p>&lt; img src="https://skillicons.dev/icons?i=swift" height="46" alt="Swift language logo"  &#47; &gt;</p>
        <p>&lt; img width="8" &#47; &gt; </p>
        {% endif %}


        {% if lang_13 == "rust_lang" %}
        <p>&lt; img src="https://skillicons.dev/icons?i=rust" height="46" alt="Rust language logo"  &#47; &gt;</p>
        <p>&lt; img width="8" &#47; &gt; </p>
        {% endif %}

        {% if lang_14 == "r_lang" %}
        <p>&lt; img src="https://skillicons.dev/icons?i=r" height="46" alt="R language logo"  &#47; &gt;</p>
        <p>&lt; img width="8" &#47; &gt; </p>
        {% endif %}

        {% if lang_15 == "kotlin_lang" %}
        <p>&lt; img src="https://skillicons.dev/icons?i=kotlin" height="46" alt="Kotlin language logo"  &#47; &gt;</p>
        <p>&lt; img width="8" &#47; &gt; </p>
        {% endif %}

        {% if lang_16 == "perl_lang" %}
        <p>&lt; img src="https://skillicons.dev/icons?i=perl" height="46" alt="Perl language logo"  &#47; &gt;</p>
        <p>&lt; img width="8" &#47; &gt; </p>
        {% endif %}
            
        {% if icon_1 == "dev_to" %}
            <p>&lt; img src="https://skillicons.dev/icons?i=devto" height="46" alt="devto logo" / &gt;</p>
        {% endif %}
     </div>
    
    
</body>
</html>